<div class = "border-bottom row" style = "margin-bottom:16px; padding-bottom:8px">
<div class = "col-9">
  <h4 style = "color:rgb(120, 120, 120); margin-bottom:4px;">
      {{job['title']}}
    </h4>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if 'salary'in job %}
    <div>
      <b>Salary:</b> {{job['salary']}}
    </div>
    {% endif %}
</div>
  <div class = "col-3">
      <a href="mailto:banabasejiofor@gmail.com?subject=Enquiries%20for%20{{job['title']}}&body=Company%20name%3A%20%3Cyour%20company%20name%20here%3E%0D%0A%0D%0AThe%20position%20you%20want%20me%20to%20fill%3A%20%3Center%20the%20position%20here%3E%0D%0A%0D%0AWhat%20you%20are%20willing%20to%20pay%3A%20%3Center%20salary%20here%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>


  </div>